// Colors
$color-primary:#23133f;
$color-white:#fff;
$color-hover:#25bbed;
$color-btn:#10385b;
$color-dnc:#def1f5;

// Spacing
$spacer-md:5px;
$spacer-0:0;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;

// Fonts
$font-xsm:12px;
$font-sm:14px;
$font-md:16px;
$font-lg:24px;